body {
  background: rgb(248, 248, 248);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin-bottom: 2rem;
}

.App-card {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2em 10vw;
}

.App-card h2 {
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
